body {
  background-color: #242f43;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  background-color: white;
}

h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
  color: white;
}

th {
  border: 2px solid #8c6b48;
}

table {
  text-align: center;
  margin: 25px auto;
}

td {
  border: 2px solid #8c6b48;
  width: 250px;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  background-color: #242f44;
  z-index: 5;
}

footer h3 {
  display: inline-block;
  font-size: 14px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 30px;
}

.hour {
  width: 150px;
}

a{
  color: white;
}
